<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Items</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
</head>
<body>
    <div class="page">
        <div class="page-column">
            {% for item in items %}
                <div class="item">
                    <div class="item-image">
                        {% if item.image_filename %}
                            <img src="{{ url_for('uploaded_image', filename=item.image_filename) }}"/>
                        {% endif %}
                    </div>
                    <div class="item-info">
                        <div class="item-name"> {{ item.name }} </div>
                        <div class="item-description"> {{ item.description }} </div>
                        {% if item.positions %}
                            <div class="item-position"> {{ item.positions[0].name }}
                                <span class="item-position-datetime">({{ item.positions[0].datetime.strftime('%Y-%m-%d %H:%M') }})</span>
                            </div>
                        {% endif %}
                        <div class="item-controls">
                            <a href="{{ url_for('edit_item', item_id=item.id) }}"> edit </a>
                            <form action="{{ url_for('delete_item', item_id=item.id) }}" method="post">
                                <button type="submit"> Delete </button>
                            </form>
                            <form action="{{ url_for('new_position', item_id=item.id) }}" method="post">
                                <input name="name"/>
                                <button type="submit"> Add position </button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="page-column">
            <div class="add-item">
                <h1>Add new item</h1>
                <form action="{{ url_for('new_item') }}" method="post" enctype="multipart/form-data">
                    <input name="name"/>
                    <textarea name="description"></textarea>
                    <input name="image" type="file" accept="image/*" capture="camera"/>
                    <input type="submit" value="Submit"/>
                </form>
            </div>
        </div>
    </div>
</body>
</html>